// .babelrc files are in Json5: comments are allowed.
//
// This file is used:
// - with `node -r ./src/babel-register.js` when server is directly launched from sources
// - with `babel ./src --config-file ./src/.babelrc` when a build is done 
{
    "plugins": [
        "@babel/transform-typescript",
        "babel-plugin-transform-typescript-metadata",
        [
            "@babel/proposal-decorators",
            {
                "legacy": true // must be set before proposal-class-properties
            }
        ], 
        [
            "@babel/proposal-class-properties",
            {
                "loose": true
            }
        ]
    ],
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "10.15.3" // Node version should be at least equal to engine.nodes in package.json
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/typescript"
    ]
}